@charset "UTF-8";

/*Typical Device Breakponts
PEquenas telas:
celular: de 600 a 768px
Tablet: de 768 a 992px
Desktop: de 992 a 1200px
Grandes telas: acima de 1200px
*/


@media screen and (min-width: 768px) {
    span.material-symbols-outlined {
        display: none;
    }
    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }
    
    main {
        width: 768px;
    }
}

